//- Template for MarkDown output

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{ title }

    script 
      include ../node_modules/mermaid/dist/mermaid.min.js

    style
      #{ stylesheet }
      include ../node_modules/highlight.js/styles/xcode.css

  body.markdown-body !{ bodyMarkDown }
