//- Template for MarkDown output

//- mixin markdown

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{ title }
    style
      include ../node_modules/github-markdown-css/github-markdown.css
      include ../node_modules/highlight.js/styles/github.css

    //- link(rel='stylesheet',href='https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css',integrity='sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc',crossorigin='anonymous')
  body.markdown-body !{ bodyMarkDown }
